@tailwind base;

:root {
  --fg: 15 23 42;
  --fg-brighter: 0 0 0;
  --fg-less-dimmed: 51 65 85;
  --fg-dimmed: 100 116 139;
  --accent: 37 99 235;
  --accent-lighter: 59 130 246;

  --background: 255 255 255;
  --surface: 248 250 252;
  --surface-hover: 241 245 249;
}

html.dark {
  --fg: 226 232 240;
  --fg-brighter: 255 255 255;
  --fg-less-dimmed: 228 228 231;
  --fg-dimmed: 212 212 216;
  --accent: 147 197 253;
  --accent-lighter: 191 219 254;

  --background: 39 39 42;
  --surface: 63 63 70;
  --surface-hover: 82 82 91;
}

@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
    scrollbar-color: rgb(var(--surface-hover)) rgb(var(--surface));
  }

  body {
    @apply flex min-h-screen flex-col;
    @apply mx-auto max-w-[130ch] overflow-y-scroll px-6 pb-32;
    @apply bg-background text-fg;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    @apply bg-accent text-background;
  }

  a,
  button,
  input,
  textarea {
    @apply outline-none ring-accent ring-offset-2 ring-offset-background focus:ring-2;
  }

  .title {
    @apply text-wrap-balance mb-8 text-6xl font-extrabold tracking-tight text-fg-brighter;
  }

  .subtitle {
    @apply text-2xl tracking-tight text-fg-less-dimmed;
  }

  .enhanced-prose {
    @apply prose-h1:title break-words;
    @apply prose-a:text-accent prose-a:decoration-accent/50 prose-a:decoration-2 prose-a:underline-offset-2 prose-a:transition-all hover:prose-a:text-accent-lighter hover:prose-a:decoration-accent-lighter/50;
    @apply dark:prose-pre:bg-surface;
    @apply prose-img:mx-auto;
    @apply max-w-none;

    --tw-prose-body: rgba(var(--fg) / 1);
    --tw-prose-headings: rgba(var(--fg-brighter) / 1);
    --tw-prose-links: rgba(var(--fg) / 1);
    --tw-prose-code: rgba(var(--fg) / 1);
    --tw-prose-bold: rgba(var(--fg-brighter) / 1);
    --tw-prose-quotes: rgba(var(--fg) / 1);
    --tw-prose-quote-borders: rgba(var(--surface) / 1);
    --tw-prose-bullets: rgba(var(--fg-dimmed) / 1);
    --tw-prose-hr: rgba(var(--fg-dimmed) / 1);
    --tw-prose-captions: rgba(var(--fg-dimmed) / 1);
    --tw-prose-th-borders: rgba(var(--surface-hover) / 1);
    --tw-prose-td-borders: rgba(var(--surface) / 1);

    & :is(pre) {
      @apply border-2;
      background-color: rgba(var(--surface) / 1);
      border-color: rgba(var(--surface-hover) / 1);
    }

    & :is(h2, h3, h4, h5) {
      @apply flex items-center;
    }

    & :is(h2, h3, h4, h5) .anchor {
      @apply ml-3 text-base font-medium text-fg-dimmed no-underline hover:text-fg-less-dimmed;
    }

    & :is(h2, h3, h4, h5):target .anchor {
      @apply text-accent hover:text-accent-lighter;
    }
  }

  .link {
    @apply text-fg hover:text-accent;
  }

  .prose-link {
    @apply font-medium text-accent underline decoration-accent/50 decoration-2 underline-offset-2 transition-all hover:text-accent-lighter hover:decoration-accent-lighter/50;
  }

  .buttonish,
  button {
    @apply flex items-center space-x-3 rounded px-4 py-2 text-sm font-medium;
    @apply bg-surface transition-all hover:bg-surface-hover disabled:opacity-75;

    &.primary {
      @apply bg-accent text-white;
    }
  }

  h2.projects-page {
    @apply mb-6 text-2xl font-bold;
  }

  .projects-grid {
    @apply mb-12 grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-4;

    & li a {
      @apply h-full;
    }
  }
}

@layer utilities {
  .text-wrap-balance {
    text-wrap: balance;
  }
}
